<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- 是否隐藏控制台 -->
    <add key="IsHideConsole" value="false"/>
    <!-- 是否隐藏Form窗口 -->
    <add key="IsHideForm" value="false"/>
    <!-- 是否开机自动启动 -->
    <add key="IsAutoStart" value="true"/>
    <!-- 是否关闭应用后自动重新启动本应用 -->
    <add key="IsAutoRestart" value="true"/>
    <!-- 监听的服务器Url地址 -->
    <add key="WebServerListenUrl" value="https://+:8081/"/>
    <!-- 逻辑线程轮询间隔时间(ms)-->
    <add key="LoginThreadIdleTime" value="3000"/>
    <!-- 主线程发送心跳消息的间隔时间(ms) -->
    <add key="HeartbeatIdleTime" value="20000"/>
    <!-- 向服务器请求超时时间(ms) -->
    <add key="ConnectServerTimeout" value="10000"/>
    <!-- 是否使用Ping检查服务器开启状态 -->
    <add key="IsUsePing" value="false"/>
    <!-- 是否使用Https证书监听 -->
    <add key="IsUseHttpsWebServer" value="true"/>
    <!-- 是否开启Http服务器 -->
    <add key="IsUseHttpServer" value="true"/>
    <!-- 本地IP地址，若该值为空，则程序自行获取 -->
    <add key="LocalIP" value=""/>
    <!-- 本节点所在虚拟机对应U盾的银行卡号 -->
    <add key="BankCardNo" value="6226224701190408"/>
    <!-- 节点管理器接收流水查询结果Url -->
    <add key="ServerReviceGetBillResultUrl" value="https://test.com/bank/transaction/callback"/>
    <!-- 节点管理器接收出账结果Url -->
    <add key="ServerReviceOutcomeResultUrl" value="https://test.com/node-mgt/callback"/>
    <!-- 节点管理器注册Url -->
    <add key="ServerRegisteUrl" value="https://test.com/node-mgt/register"/>
    <!-- 节点管理器心跳Url -->
    <add key="ServerHeartbeatUrl" value="https://test.com/node-mgt/hb"/>
    <!-- 节点管理器注销Url -->
    <add key="ServerLogoutUrl" value="https://test.com/node-mgt/logoff"/>
	  <!-- CCB登录url -->
    <add key="CCBLoginUrl" value="https://ibsbjstar.ccb.com.cn/CCBIS/V6/STY1/CN/login.jsp"/>
    <!-- BCM登录url -->
    <add key="BCMLoginUrl" value="https://pbank.95559.com.cn/personbank/logon.jsp"/>
    <!-- ABC登录url -->
    <add key="ABCLoginUrl" value="https://perbank.abchina.com/EbankSite/startup.do"/>
    <!-- ABC获取账单明细url -->
    <add key="ABCBillUrl" value="https://perbank.abchina.com/EbankSite/AccountTradeDetailDownloadAct.do"/>
    <!-- CITIC登录url -->
    <add key="CITICLoginUrl" value="https://i.bank.ecitic.com/perbank6/signIn.do"/>
    <!-- CITIC获取账单明细url -->
    <add key="CITICBillUrl" value="https://i.bank.ecitic.com/perbank6/pb1310_account_detail.do"/>
    <!-- 10.71.12.140 -->
    <!-- 203.177.208.139:8082 -->
    <add key="CITICOCRDenoise" value="117"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
